body {
	background-color:#eee;
	color:#333;
	font-family:'Helvetica Neue', helvetica, arial, sans-serif;
	font-size:13px;
	/*line-height:1.35em;*/
	margin:0;
	-webkit-font-smoothing:antialiased;
}

p, li, h1, h2, h3, h4, h5 {
	line-height:135%;
}

.clear { clear:both; }

a { 
	color:#402D76;
	outline:none;
	text-decoration:none;
}

a:hover { color:black; text-decoration:underline; }

a img { border:none; }

/* strong { color:#89af25; } */

h1, h2, h3, h4, h5 {
	color:#4A4679;
	font-weight:bold;
	line-height:1.3em;
	font-weight:normal;
	margin:0.3em 0 0.3em 0;
	/* font-family:'Myriad Pro', 'Calibri'; */
}

h2 { font-size:27px; }
h3 { font-size:23px; }
h4 { font-size:19px; }

h2 + p, h3 + p, h4 + p { margin-top:0.5em; }

.underline { border-bottom:1px solid #003777; }
.note { color:#999; }
.small, small { font-size:11px; }
.tiny { font-size:11px; }
.clear { clear:both; }
.date { font-size:12px; color:#666; }
.right { float:right; margin:0 0 1em 1em }
.left { float:left; margin:0 1em 1em 0 }
/* .right img, img.right { border:1px solid #ccc; } */
.hilite { color:#000; }
.center, .centre { text-align:center; }
.nowrap { white-space:nowrap; }
.border { border:1px solid #ccc; }

hr { height: 1px; color: #ccc; border: none; } /* For Internet Explorer */
html>body hr { height: 1px; background-color: #ccc; border: none; } /* For Gecko-based browsers */
html>body hr { height: 1px; background-color: #ccc; border: 0px solid #ccc; } /* For Opera and Gecko-based browsers */

th, td { padding:0.3em 1em 0.3em 0; border-bottom:1px solid #ddd; text-align:left; vertical-align:top }
.last td { border:none; }
th { padding-top:1em }
table { border-spacing:0 }
caption { text-align:left; }

blockquote {
	border-left:1px solid #999;
	padding-left:1em;
}

blockquote .quote {
	font-family:georgia;
	font-size:14px;
	color:#666;
	font-style:italic;
}

address { font-style:normal; }

.error {
	/*
	border:1px solid red;
	padding:0.5em 1em;
	*/
	color:red;
	/*
	border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	*/
}

label.error {
	display:inline-block;
}

.success {
	border:1px solid green;
	padding:0.5em 1em;
	color:green;
	border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
}

.error strong {
	color:red;
}

.pdf {
	padding-left:17px;
	background:url(../images/pdf-small.gif) center left no-repeat transparent;
}

.notice {
	border:1px solid #ccc;
	padding:1em;
	background-color:#eee;
}

.notice p {
	margin:0;
}

ul.pdfs li {
	list-style-image:url(../images/pdf-small.gif);
	margin-bottom:0.3em;
}

.clearfix:after { content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */